* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'New Amsterdam, sans-serif';
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M1512 560L0 560 L0 370.59Q46.38 296.97%2c 120 343.35Q152.13 255.49%2c 240 287.62Q314.84 242.46%2c 360 317.3Q410.67 247.97%2c 480 298.64Q567.41 266.06%2c 600 353.47Q601.27 282.75%2c 672 284.02Q732.95 272.97%2c 744 333.92Q789.62 259.54%2c 864 305.16Q943.67 264.83%2c 984 344.5Q1025.28 313.78%2c 1056 355.06Q1074.58 301.63%2c 1128 320.21Q1157.74 277.95%2c 1200 307.7Q1224.88 260.58%2c 1272 285.46Q1357.59 251.05%2c 1392 336.64Q1458.53 283.17%2c 1512 349.7z' fill='rgba(76%2c 175%2c 80%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 426.6Q47.28 353.88%2c 120 401.17Q198.38 359.56%2c 240 437.94Q288 365.94%2c 360 413.93Q364.63 346.56%2c 432 351.2Q497.39 296.59%2c 552 361.98Q651.6 341.58%2c 672 441.17Q700.15 397.32%2c 744 425.47Q755.61 365.08%2c 816 376.68Q867.76 308.44%2c 936 360.21Q1038.29 342.5%2c 1056 444.79Q1094.68 363.48%2c 1176 402.16Q1218 372.17%2c 1248 414.17Q1290.94 385.11%2c 1320 428.05Q1339.13 375.18%2c 1392 394.31Q1473.94 356.25%2c 1512 438.2z' fill='rgba(44%2c 91%2c 46%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 462.27Q47.09 437.36%2c 72 484.44Q118.38 458.82%2c 144 505.2Q161.08 450.28%2c 216 467.36Q246.36 425.72%2c 288 456.08Q330.2 378.28%2c 408 420.48Q497.75 390.24%2c 528 479.99Q596.33 428.31%2c 648 496.64Q689.05 417.69%2c 768 458.74Q790.78 409.52%2c 840 432.31Q883.03 403.35%2c 912 446.38Q984.29 398.67%2c 1032 470.96Q1062.91 429.88%2c 1104 460.79Q1186.71 423.5%2c 1224 506.21Q1231.66 441.88%2c 1296 449.54Q1361.82 395.36%2c 1416 461.18Q1473.61 446.79%2c 1488 504.4z' fill='rgba(54%2c 158%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 551.41Q44.64 476.05%2c 120 520.69Q142.62 471.31%2c 192 493.92Q253.39 483.31%2c 264 544.69Q313.73 522.42%2c 336 572.16Q361.7 477.86%2c 456 503.56Q498.82 474.38%2c 528 517.2Q598.19 515.39%2c 600 585.58Q636.92 502.5%2c 720 539.43Q789.04 488.47%2c 840 557.51Q880.62 478.13%2c 960 518.74Q1006.53 493.27%2c 1032 539.81Q1085.34 521.15%2c 1104 574.49Q1134.97 533.46%2c 1176 564.43Q1223.73 540.16%2c 1248 587.89Q1269.24 489.13%2c 1368 510.37Q1412.68 483.06%2c 1440 527.74Q1493.45 509.19%2c 1512 562.65z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: bottom;
  background-size: cover;
  padding: 20px;
}

.contact-form {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'New Amsterdam, sans-serif';
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: 600;
}

.contact-form input {
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'New Amsterdam, sans-serif';
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-form textarea {
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'New Amsterdam, sans-serif';
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  resize: none;
}

.contact-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  font-family: 'New Amsterdam, sans-serif';
  font-weight: 600;
  transition: background-color 0.3s ease;
}
