* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Wendy One', sans-serif;
}

button, input, textarea {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  transition: .4s;
}

button:hover {
  opacity: 0.9;
}